# Ignore node_modules folder (for Node.js projects)
node_modules/

# Ignore log files
*.log

# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore build/ and dist/ directories (common in compiled languages)
build/
dist/
Old_backup/
